@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Lato:wght@400;700&display=swap");
:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  outline: none;
}

*:focus,
*:active {
  outline: 0;
}

a:focus,
a:active {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font: 16px/1.4 'Lato', sans-serif;
  color: #fff;
  background-color: #000;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.wrapper {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  background: #000;
  padding: 200px 0;
}

.content__title {
  color: #333;
}

.content__text {
  color: #333;
}

.title {
  font-family: "Goldman";
  font-size: 10rem;
  line-height: 120%;
  font-weight: 700;
  color: #EA001E;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 30px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 50;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 3;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  padding-right: 87px;
  z-index: 5;
}

.header__menu {
  position: relative;
  z-index: 5;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin-left: 50px;
}

.header__item:first-child {
  margin-left: 0;
}

.header__link {
  font-family: "Lato";
  font-size: 1.6rem;
  line-height: 165%;
  font-weight: 500;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (any-hover: hover) {
  .header__link:hover {
    color: #EA001E;
  }
}

.header__burger {
  display: none;
}

.logo img {
  display: block;
}

.logo .dark-logo {
  display: none;
}

.action {
  position: relative;
  padding-left: 10px;
  z-index: 5;
}

.action__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Goldman";
  font-size: 13px;
  line-height: 100%;
  font-weight: 700;
  color: #fff;
  min-width: 230px;
  min-height: 60px;
  background: #EA001E;
  text-transform: uppercase;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (any-hover: hover) {
  .action__link:hover {
    background: rgba(234, 0, 30, 0.7);
  }
}

.bar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 0;
  z-index: 999;
  -webkit-animation: fixedMenu 1s forwards;
          animation: fixedMenu 1s forwards;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bar-fixed::before {
  background: #fff;
}

.bar-fixed .header__link {
  color: #000;
}

@media (any-hover: hover) {
  .bar-fixed .header__link:hover {
    color: rgba(234, 0, 30, 0.7);
  }
}

.bar-fixed .logo .dark-logo {
  display: block;
}

.bar-fixed .logo .light-logo {
  display: none;
}

@-webkit-keyframes fixedMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fixedMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: none;
  background: #EA001E;
  font-size: 22px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  z-index: 10;
}

#toTop:focus,
#toTop:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 1030px) {
  .header__logo {
    padding-right: 10px;
  }
}

@media screen and (max-width: 991px) {
  body.lock {
    overflow: hidden;
  }
  .header {
    padding: 10px 0;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #121212;
    padding: 150px 10px 20px;
    overflow: auto;
    z-index: 2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__menu.active {
    top: 0;
  }
  .header__list {
    display: block;
    text-align: center;
  }
  .header__item {
    margin: 0;
    margin-bottom: 20px;
  }
  .header__link {
    font-size: 2rem;
  }
  .action {
    margin-left: auto;
    margin-right: 20px;
  }
  .action__link {
    min-width: 0;
    min-height: 0;
    width: 200px;
    height: 50px;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .bar-fixed .header__burger span,
  .bar-fixed .header__burger::before,
  .bar-fixed .header__burger::after {
    background: #000;
  }
  .header__burger span {
    position: absolute;
    top: 9px;
    right: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 10px;
  }
  .bar-fixed .header__link {
    color: #fff;
  }
}

@media screen and (max-width: 490px) {
  .header__logo {
    width: 35px;
    overflow: hidden;
  }
  .header__logo img {
    max-width: 152px;
  }
  .action {
    margin-left: 0;
  }
}

@media screen and (max-width: 360px) {
  .header__logo {
    width: 28px;
  }
  .action {
    margin: 0;
    padding: 0;
  }
}

.hero {
  height: 100vh;
  padding: 300px 0 150px;
}

.hero__container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  background: url("../img/car.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.hero__title {
  font-family: "Goldman";
  font-size: 10rem;
  line-height: 120%;
  font-weight: 700;
  color: #EA001E;
}

.hero__subtitle {
  max-width: 700px;
  font-family: "Lato";
  font-size: 5.4rem;
  line-height: 120%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 40px;
}

.hero__actions {
  margin-bottom: 60px;
}

.hero__btn {
  margin-right: 20px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Goldman";
  font-size: 13px;
  line-height: 100%;
  font-weight: 700;
  color: #fff;
  min-width: 230px;
  min-height: 60px;
  background: #EA001E;
  text-transform: uppercase;
  padding: 10px 30px;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (any-hover: hover) {
  .btn:hover {
    background: rgba(234, 0, 30, 0.7);
  }
}

.btn_full {
  background: #EA001E;
  margin-bottom: 20px;
}

.btn_transparent {
  color: #EA001E;
  border: 2px solid #EA001E;
  background: transparent;
}

@media (any-hover: hover) {
  .btn_transparent:hover {
    color: #fff;
    background: #EA001E;
  }
}

.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.pages__item:not(:last-child) {
  margin-right: 50px;
}

.pages__count {
  display: block;
  font-family: "Lato";
  font-size: 4.8rem;
  line-height: 100%;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
}

.pages__info {
  display: block;
  font-family: "Lato";
  font-size: 1.5rem;
  line-height: 140%;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
}

.content__title {
  color: #080808;
  text-align: center;
}

@media screen and (max-width: 1700px) {
  .hero__container {
    background-position: right -130px center;
  }
}

@media screen and (max-width: 1440px) {
  .hero {
    padding-top: 200px;
  }
  .hero__container {
    background-position: right -250px center;
  }
}

@media screen and (max-width: 1366px) {
  .hero__container {
    background-position: right -100px center;
  }
  .hero__subtitle {
    max-width: 550px;
    font-size: 4rem;
  }
}

@media screen and (max-width: 1170px) {
  .hero {
    background: none;
  }
  .hero__container {
    background: url("../img/car-transparent.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero__info {
    text-align: center;
  }
  .hero__subtitle {
    margin: 0 auto 40px;
  }
  .pages {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 120px;
  }
  .hero__container {
    background-size: contain;
  }
}

@media screen and (max-width: 425px) {
  .hero__subtitle {
    font-size: 2rem;
  }
  .pages__item:not(:last-child) {
    margin-right: 24px;
  }
  .pages__count {
    font-size: 3rem;
  }
  .pages__info {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 767px) {
  .title {
    font-size: 8rem;
  }
}

@media screen and (max-width: 470px) {
  .title {
    font-size: 6rem;
  }
  .content {
    padding: 100px 0;
  }
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 5rem;
  }
}
/*# sourceMappingURL=style.css.map */