// Шрифты
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@700&family=Lato:wght@400;700&display=swap');

// Обнуление
@import "_zero";

// Переменные
$f: #fff;
$red: #EA001E;
//Миксин

@mixin font($ff, $fz, $lh, $fw, $c) {
  font-family: $ff;
  font-size: $fz;
  line-height: $lh;
  font-weight: $fw;
  color: $c;
}

body {
  font: 16px/1.4 'Lato', sans-serif;
  color: #fff;
  background: #000;
}

.wrapper {
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.content {
  padding: 200px 0;

  &__title {
    color: #333;
  }

  &__text {
    color: #333;
  }
}

.title {
  @include font ('Goldman', 10rem, 120%, 700, $red);
}


@import "_header";
@import "_hero";

@media screen and (max-width: 767px) {
  .title {
    font-size: 8rem;
  }
}

@media screen and (max-width: 470px) {
  .title {
    font-size: 6rem;
  }

  .content {
    padding: 100px 0;
  }
}

@media screen and (max-width: 360px) {
  .title {
    font-size: 5rem;
  }
}